{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>New Page</h1>
    <hr>
    <form action="{% url 'upload' %}" method="POST">
    	{% csrf_token %}
    	<h5><label for="title">Title</label></h5>
    	<input class="form-control col-4 border border-dark" type="text" name="title" id="title"><br/><br/>
    	<h5><label for="content">Content</label></h5>
    	<textarea class="form-control border border-dark" id="content" name="content" style="width: 80%; height: 20em"></textarea><br/>
    	<button class="btn btn-success" type="submit">Save page</button>
    </form>
{% endblock %}